@model IEnumerable<FeaturedContent>
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
        .result-row {
            margin-bottom: 20px;
        }

        .result-col {
            margin: 10px;
        }

        .user-data {
            background-color: rgba(245, 245, 220, 0.5);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .user-data-result {
            display: flex;
            align-items: center;
        }

        .card {
            height: 300px;
            border-radius: 30px;
        }

        .col-card {
            padding-left: 5px;
            padding-right: 5px;
        }

        .card-img-fixed {
            max-width: 100%;
            height: 150px;
        }

        .card-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 80px;
        }

        img {
            border-radius: 30px 30px 0 0 !important;
        }
    </style>
}

<div style="background-color: #bbdccf; margin-top: 50px;">
    @if (ViewBag.AllCategoriesCompleted)
    {
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h2>Carbon Footprint Results</h2>
                    <p>(in tonnes of CO<sub>2</sub> per year)</p>
                    <div class="row result-row">
                        <div class="col result-col">
                            <canvas id="pieChart" width="400" height="200"></canvas>
                        </div>
                        <div class="col result-col user-data user-data-result">
                            <p>Based on your answers, your estimated energy carbon footprint is <strong>@ViewBag.UserTotalCarbonFootprint tonnes of CO<sub>2</sub> per year</strong>.</p>
                        </div>
                    </div>
                    <div class="row result-row">
                        <div class="col result-col">
                            <canvas id="barChart" width="700" height="300"></canvas>
                        </div>
                    </div>
                    <div class="row result-row">
                        <div class="col result-col user-data">
                            <p><strong>Tips to help you live more sustainably</strong></p>
                            <ol style="text-align: left;">
                                <li>Reduce, Reuse, Recycle: Minimize waste and recycle materials.</li>
                                <li>Conserve Energy: Turn off lights and appliances, use energy-efficient options.</li>
                                <li>Use Water Wisely: Fix leaks, save water, and collect rainwater.</li>
                                <li>Sustainable Transportation: Walk, bike, carpool, or use public transport.</li>
                                <li>Support Sustainable Products: Choose eco-friendly options and buy locally.</li>
                            </ol>
                        </div>
                    </div>
                    <a href="@Url.Action("EnergyUsage", "CarbonFootprint")" class="btn btn-system">Retake Test</a>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.NoneCategoriesCompleted)
    {
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h2>Start Your Carbon Footprint Test</h2>
                    <p>You haven't completed the carbon footprint test yet</p>
                    <a href="@Url.Action("EnergyUsage", "CarbonFootprint")" class="btn btn-system">Start Test</a>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.SomeCategoriesCompleted)
    {
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h2>Complete Your Carbon Footprint Test</h2>
                    <p>You haven't completed the carbon footprint test for the following categories:</p>
                    <div class="row">
                        @foreach (var category in ViewBag.CategoriesNotCompleted)
                        {
                            <div class="col">
                                <a href="@Url.Action((string)category.Item2, "CarbonFootprint")" class="btn btn-system">@category.Item1</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 50px;">
        <ol class="carousel-indicators" style="bottom: -30px;">
            @for (int i = 0; i < Math.Ceiling((double)Model.Count() / 3); i++)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
            }
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < Math.Ceiling((double)Model.Count() / 3); i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="container">
                        <div class="row justify-content-center">
                            @foreach (var item in Model.Skip(i * 3).Take(3))
                            {
                                if (item.IsContentActive)
                                {
                                    <div class="col-md-3 col-card">
                                        <div class="card mb-3">
                                            @if (!string.IsNullOrEmpty(item.ContentImageFileName))
                                            {
                                                <img src="@Url.Action("GetContentImage", "Home", new { fileName = item.ContentImageFileName })" class="card-img-top img-fluid card-img-fixed" alt="Featured Content Image">
                                            }
                                            <div class="card-body">
                                                <h5 class="card-title"><a href="@item.ContentLink" target="_blank" style="color: black;">@item.ContentTitle</a></h5>
                                                <p class="card-text" title="@item.ContentDescription" data-toggle="tooltip" data-placement="top">@item.ContentDescription</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="z-index: 1;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="z-index: 1;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

@section Scripts {
    @if (ViewBag.AllCategoriesCompleted) {
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
        var pieCtx = document.getElementById('pieChart').getContext('2d');
        var pieChart = new Chart(pieCtx, {
            type: 'pie',
            data: {
                labels: @Html.Raw(Json.Serialize(ViewBag.ChartLabels)),
                datasets: [{
                    data: @Html.Raw(Json.Serialize(ViewBag.ChartDataUser)),
                    backgroundColor: [
                        'rgba(128, 128, 128, 0.5)',
                        'rgba(245, 245, 220, 0.5)',
                        'rgba(33, 235, 220, 0.5)',
                        'rgba(70, 130, 180, 0.5)'
                    ]
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'right',
                    },
                    title: {
                        display: true,
                        text: 'Carbon Footprint by Category'
                    }
                }
            }
        });

        var barCtx = document.getElementById('barChart').getContext('2d');
        var barChart = new Chart(barCtx, {
            type: 'bar',
            data: {
                labels: @Html.Raw(Json.Serialize(ViewBag.ChartLabels)),
                datasets: [{
                    label: 'Your',
                    data: @Html.Raw(Json.Serialize(ViewBag.ChartDataUser)),
                    backgroundColor: 'rgba(33, 235, 220, 0.5)',
                    borderColor: 'rgba(255, 255, 255, 1)',
                    borderWidth: 2
                }, {
                    label: 'Average',
                    data: @Html.Raw(Json.Serialize(ViewBag.ChartDataTotalAvg)),
                    backgroundColor: 'rgba(128, 128, 128, 0.5)',
                    borderColor: 'rgba(255, 255, 255, 1)',
                    borderWidth: 2
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Your vs. Average Carbon Footprint'
                    }
                }
            }
        });
        </script>
    }
}